body {
    background-color: rgb(195, 240, 222);
  }
  
  .box {
    /* background-color: lightgreen; */
    background-color: #34b1eb;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    position: relative;
    top: 80px;
    left: 40%;
    border: 1px solid black;
  }

  .memory {
    position: absolute;
    z-index: 1;
    left: 5px;
    display: none;
  }

  .memory-show {
    position: absolute;
    z-index: 1;
    left: 5px;
    display: block;
  }
  
  .display {
    background-color: white;
    width: 225px;
    position: relative;
    left: 15px;
    top: 20px;
    height: 40px;
  }
  
  .display input {
    width: 220px;
    position: relative;
    left: 0px;
    top: 0px;
    height: 36px;
    color: black;
    background-color: white;
    font-size: 21px;
    text-align: right;
    border: 1px solid black;
  }
  
  .keys {
    position: relative;
    top: 15px;
  }
  
  .button {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-left: 17px;
    cursor: pointer;
    border-top: 2px solid transparent;
    outline: none;
  }
  
  .button.gray {
    color: white;
    background-color: #f12323;
    border-bottom: black 2px solid;
    border-top: 2px #c8d5db;
  }
  
  .button.pink {
    color: black;
    background-color: #eb478b;
    border-bottom: black 2px solid;
  }
  
  .button.black {
    color: white;
    background-color: #0a7272;
    border-bottom: black 2px solid;
  }
  
  .button.orange {
    color: black;
    background-color: #f8761f;
    border-bottom: black 2px solid;
    border-top: 2px #c8d5db;
  }
  
  .gray:active {
    border-top: black 2px solid;
    border-bottom: 2px #6f6f6f solid;
  }
  
  .pink:active {
    border-top: black 2px solid;
    border-bottom: #ff4561 2px solid;
  }
  
  .black:active {
    border-top: black 2px solid;
    border-bottom: #303030 2px solid;
  }
  
  .orange:active {
    border-top: black 2px solid;
    border-bottom: #FF9933 2px solid;
  }
  
  p {
    line-height: 10px;
  }
  
  input[disabled] {
    opacity: .5 ;
  }



   /* Медиа запросы */



  @media (min-width: 993px) and (max-width: 1200px) {
      .box {
        left: 37%
      }
  }

/* ---------------------------------------------------------- */



  @media (min-width: 577px) and (max-width: 768px) {
    .box {
      left: 30%
    }
}


/* ------------------------------------------------------------------ */



  @media (max-width: 576px) {
    .box {
      left: 14%
    }
  }